body{
    padding: 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

button{
    padding: 10px 20px;
    background-color: green;
    color: aliceblue;
    border: none;
    border: 1px solid green;
}

button:hover{
    border: 3px solid rgb(111, 71, 176);
}

#del-all-btn{
    color: green;
    background-color: rgb(247, 249, 251);
    border: 1px solid green;
}


input{
    width:100%;
    padding:10px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 2px solid green;
}

ul{
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
li{
    list-style: none;
}
#ul-el li a {
    color: green;
    display: block;
    margin-top: 5px;
}

